@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: system-ui;
  color: var(--color-dark);
}
.HR {
  /* margin-top: var(--card-padding); */
  margin-bottom: var(--card-padding);
}
.icon {
  padding: 5px;
  color: var(--color-gray);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.icon:hover {
  /* background-color: rgba(128, 128, 128, 0.397); */
  box-shadow: 15px 12px 50px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
